<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Feddit</title>
    <link rel="stylesheet" href="./styles/style.css" >
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

  </head>
  <header>

    <div class="card-panel #a1887f brown lighten-2">
      <div class="col s12">
        <a href="/users">Users</a>
        <% if (userSession) { %>
          <a href="/logout">Logout</a>
          <a href="/posts/new">New Posts</a>
        <% } else { %>
          <a href="/signup">Signup</a>
          <a href="/login">Login</a>
        <% } %>
        <a href="/posts">Posts</a>
      </div>
    </div>

  </header>
  <body>
    <div class="container">
