<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Feddit</title>
    <link rel="stylesheet" href="./styles/style.css" >
  </head>
  <header>
    <a href="/users">Users</a>
    <% if (userSession) { %>
      <a href="/logout">Logout</a>
      <a href="/posts/new">New Posts</a>
    <% } else { %>
      <a href="/signup">Signup</a>
      <a href="/login">Login</a>
    <% } %>
    <a href="/posts">Posts</a>
  </header>
  <body>
