<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Feddit</title>
    <link rel="stylesheet" href="./styles/style.css" >
  </head>
  <header>
    <a href="/users">Users</a>
    <a href="/users/signup">Signup</a>
    <a href="/users/login">Login</a>
    <a href="/posts">Posts</a>
    <a href="/posts/new">New Posts</a>
  </header>
  <body>
