<% include ../partials/header %>



<h4>Users Page</h4>
<ul>
  <% users.forEach(function(user){ %>
  <li>
    <a href="/users/<%= user._id%>"><%= user.name%></a>
  </li>
  <% })%>
</ul>
<a href="/signup">Signup</a>
<% include ../partials/footer %>
