<% include ../partials/header %>

<form  action="/posts" method="post">
<ul>
  <li>
    <input type="text" name="title" placeholder="Title">
  </li>
  <li>
    <textarea type="text" name="content" rows="8" cols="40" placeholder="Content"></textarea>
  </li>
  <li>
    <input type="text" name="image" placeholder="Image Url">
  </li>
</ul>
<input type="hidden" name="date" value="<%=moment().format()%>">
<button type="submit" name="create">Create Post</button>
</form>


<% include ../partials/footer %>
